files/etc/shibboleth/*.pem filter=git-crypt diff=git-crypt
clouds.yaml filter=git-crypt diff=git-crypt
gcloud-key.json filter=git-crypt diff=git-crypt
configuration.json filter=git-crypt diff=git-crypt